[Unit]
Description=Hetzner DynDNS HTTP Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/hetzner-dyndns-update
ExecStart=/usr/bin/python3 /opt/hetzner-dyndns-update/dyndns-hetzner-http-service.py --ttl 60 -H @mydomain.tld www@mydomain.tld
Restart=on-failure
RestartSec=5
Environment=DYNDNS_HHS_TOKEN=s73kjbsesf63vdsr3b
Environment=DYNDNS_HHS_API_KEY=Ksdf97HJGH8we63hH86LKGG8dsfjHjvsdfjgJHF875BHNmvbsdf87543J7BJG65j

[Install]
WantedBy=multi-user.target
